.text-red {
  color: brown;
}

.nav-pills li a:hover {
  background-color: brown;
}

.sticky-sidebar {
  position: sticky;
  top: 56px; /* Altura de la barra de navegación */
  height: calc(100vh - 56px); /* Ajuste de altura para ocupar el resto de la ventana */
  overflow-y: auto; /* Permite el scroll dentro del sidebar si es necesario */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 767px) {
  .sticky-sidebar {
    position: fixed; /* Asegura que no empuje contenido hacia abajo */
    top: 56px;
    left: 0;
    width: 250px; /* Ajusta el ancho para pantallas pequeñas */
    height: calc(100vh - 56px);
    overflow-y: auto;
    z-index: 1050;
  }

  .container-fluid {
    padding-left: 0; /* Asegura que no haya espacio lateral adicional */
  }

  .row {
    margin-top: 56px; /* Asegura espacio suficiente debajo de la barra de navegación */
  }

  .col {
    margin-left: 0; /* Asegura que el contenido principal ocupe todo el ancho */
  }

  table {
    width: 100%;
    display: block; /* Fuerza comportamiento responsivo */
    overflow-x: auto; /* Habilita scroll horizontal */
  }

  table thead, table tbody, table tfoot {
    display: table;
    width: 100%;
  }
}
